<footer id="footer" class="bg-light py-2">
  <div class="container-fluid row ml-auto mr-auto">
    <div class="d-flex col-6 justify-content-end">
      <a href="https://www.facebook.com/generalassembly/" class="p-2"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/generalassembly/?hl=en" class="p-2"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/school/general-assemb-ly/" class="p-2"><i class="fa fa-linkedin"></i></a>
      <a href="https://twitter.com/ga?lang=en" class="p-2"><i class="fa fa-twitter-square"></i></a>
      <a href="https://github.com/AlphaOmegaAK/Trivia-Nights" class="p-2"><i class="fa fa-github-square"></i></a>
    </div>
  </div>
</footer>
