    <!-- Nav -->
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light" id="nav">
      <a href="/" class="navbar-brand">
        <h1>Trivia Nights</h1>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/quizzes" class="nav-link">Quizzes</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="/user/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item" id="signUp">
            <a href="/user/signup" class="nav-link">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>