/* RESET */

* {
  font-family: 'Rowdies', cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  -----  */

header {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

main {
  min-height: 100vh;
}

/* ! Footer */

footer {
  background-color: #000;
  width: 100vw;
  padding: 2% 5%;
  font-size: 1.3em;
  color: #fff;
  text-align: center;
}

/* ! Facebook */

.fa-facebook {
  color: #3e5c9a;
  float: right;
  width: 40px;
}

.fa-facebook:hover {
  float: right;
  width: 40px;
}

/* ! Instagram */

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.fa-instagram:hover {
  float: right;
  width: 40px;
}

.question {
  margin: 30px 20px;
  width: 1440px;
  height: 350px;
  left: 0px;
  top: 209px;
  background: linear-gradient(180deg, #EE6F69 0%, rgba(196, 85, 84, 0.46) 24.87%, rgba(196, 85, 84, 0) 100%);
  border-radius: 5px;
  }

.questionArry {
  display: flex;
  justify-content: center;
}

  .prompt {
    color: #822223;
    font-size: 25px;
    padding-left: 20px;
  }

.answer {
  color: #822223;
  display: block;
  margin-top: 30px;
  padding-left: 15px;
  font-size: 20px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */

.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */

.fa-twitter {
  background: #55ACEE;
  color: white;
}
