<!DOCTYPE html>
<html lang="en">


<title>Trivia Nights</title>
<%- include('./partials/_head') %>


<body>
  <main>
    <%- include('./partials/_navBar') %>

    <div class="dash">
        
        <div class="dashBox">
            <div class="dashInfo">
                <h3>sdlkfjsdf</h3>
                <h4>sdfkljsdf</h4>
                <h2>80%</h2>
                <h4>fjfj</h4>
            </div>
        </div>
        
    </div>
  </main>
  <%- include('./partials/_footer') %>
</body>

</html>
