<!DOCTYPE html>
<html lang="en">


<title>Trivia Nights</title>
<%- include('./partials/_head') %>


<body>
  <main>
    <%- include('./partials/_navBar') %>

    <div class="dash">
        
        <div class="dashBox">
            <div class="dashInfo">
                <h2>Total Quizzes Taken</h2>
                <h4>239,456,708</h4>
                <h2>Total Quizzes Made</h2>
                <h4>6,734</h4>
                <h2>Quizzes taken today</h2>
                <h4>76,987</h4>
                <h2>Quizzes Made Today</h2>
                <h4>90</h4>
                <h2>Highest Overall Score</h2>
                <h4>Chris Calloway - 95.4</h4>
                <h2>Favorite Category</h2>
                <h4>Geography</h4>
            </div>
        </div>
        
    </div>
  </main>
  <%- include('./partials/_footer') %>
</body>

</html>
