<!DOCTYPE html>
<html lang="en">


<head>
  <%- include('./partials/_head.ejs') %>
  <title>Document</title>
  <link rel="stylesheet" href="../public/style/main.css">
</head>

<body>
  <%- include('./partials/_navBar.ejs') %>



</body>
<%- include('./partials/_footer.ejs') %>

</html>