<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trivia Nights</title>
  <%- include('./partials/_head') %>
</head>

<body>
  <main>
    <%- include('./partials/_navBar') %>
    <% questions.forEach(function(questions){ %>
    <form action="/submitAnswer">
      <label><%=questions%></label><br>
      <input type="radio" id="answer1" name="1" value="1">
      <label for="1">Answer 1</label><br>
      <input type="radio" id="answer2" name="2" value="2">
      <label for="2">Answer 2</label><br>
      <input type="radio" id="answer3" name="3" value="3">
      <label for="3">Answer 3</label>
      <input type="radio" id="answer4" name="4" value="4">
      <label for="4">Answer 4</label>
      <input type="submit" value="Submit">
      <% }); %>
  </main>
  <%- include('./partials/_footer') %>
</body>

</html>
