<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Document</title>
</head>

<body>
  <form action="" class="form-signup">
    <img src="../public/asstes/images/logoBrain.png" alt="Brains with Glasses" height="72px" width="72px">
    <h3>Sign Up</h3>


  </form>
</body>

</html>